*{
	font-family: Century Gothic;
}

a{
	text-decoration: none;
	color:#cd0005;
}

i{
	font-style: italic;
}

.h2-cd{
	color: #f56b07;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

h3{
	font-size: 60px;
	font-weight: bold;
}

a:hover{
	text-decoration: underline;
}

p.titulo{
	color: black;
	font-size: 14px;
	font-weight: bold;
	padding: 1%;
	text-align: left;
}

p.infor{
	color: black;
	font-size: 14px;
	padding: 0.5%;
	text-align: justify;
}

ul#listado{
	margin-left: 5%;
}

.element_text h1, .element_text h2{	
	letter-spacing: 0em;
	font-style: normal;
	padding: 0px;
	color:#555;
	line-height: 1em;
}

.img{
  margin:10px auto;
  width:180px;
  height:180px;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background:url("../img/dubai.jpg") center center;
   -webkit-background-size: cover; 
   -moz-background-size: cover; 
   -o-background-size: cover; 
  }
  
#iconos-mas1, #iconos-mas2{
	float: right;
}


#iconos-mas1{
	margin-top: -38%;
}

#iconos-mas2{
	margin-top: -30%;
}

#iconos-mas1>a, #iconos-mas2>a{
	-moz-transition: all 0.8s ease-in-out;
-webkit-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
-ms-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
}

#iconos-mas1>a:hover, #iconos-mas2>a:hover{
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
opacity: 0.25;
}

.size > img{
	height: 95%;
	width: 95%;
}

#footer-ciudad{
	margin-top: 0.5%;
}

div.contenido{
	display: block;
	height: 37.5em;
    margin-top: 1%;
    width: 100%;
}

div.contenido-ciudades{
	display: block;
	margin: 2% 3%;

}

/*tabla de informacion*/

div#contenido-tabla{
	background: white;
	border: 1px solid #f56b07;
	width: 43%;
	margin-left: 40%;
}

.tabla{
	width: 100%;
	background: white;
	cursor: auto;
}

tr, td{
	width: 20%;
	border: 1px solid #f56b07;
}


.tabla th{
	background: white;
	border: 1px solid #f56b07;
	font-weight: bold;
}
/*finalizacion de tabla de informacion*/

/*herramientas*/
div.element {
	margin:0.5%;
	float:right;
	border: 2px solid #f56b07;
	background-color:#ffffff;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}

div.element:hover {
	border: 2px solid #f56b07;
	background-color:#f56b07;
}

div.element_text {
	margin:5px;
	float:left;
	border: 2px solid transparent;
}

div.element_text2 {
	margin:0px;
	width: 470px;
	height: 318px;
}

div.trabajo, div.trabajo_f1, div.trabajo_f2, div.trabajo_f3 {
	overflow: hidden;
	margin: 9px;
	padding: 0px 0px 0px 0px;
}

div.trabajo {
	width: 170px;
	height: 270px;
}

div.trabajo_img{
	height: 100%;
}

div.trabajo_cap{
	background: #000;
	background: rgba(0,0,0,0.8);
	color:#ffffff;
	text-align: left;
	display: block !important;
	position: relative !important;
	border-top: 0px solid #ffffff;
	z-index: 40;
	height: 50px; /*texto en el hover*/
}

div.trabajo_cap h1, div.trabajo_cap h2{
	color:#ffffff;
	font-family: Century Gothic;
	margin:0px;
	padding:2px;
}

div.trabajo_cap h1{
	font-size:12px;
}

div.trabajo_cap h2{
	font-size:10px;
}

div.trabajo_cap a {
	text-decoration:none;
	font-size:12px;
	color: #ffffff;
}

img {
	border:none;
}
/*sustitucion de imagen*/

.peque{
	border: 6px solid #f56b07;
	height: 30.1%;
	width: 23.4%;
	transition: 1.5s ease;
 	-moz-transition: 1.5s ease; /* Firefox */
 	-webkit-transition: 1.5s ease; /* Chrome - Safari */
 	-o-transition: 1.5s ease; /* Opera */
}

.peque-1{
	border: 6px solid #f56b07;
	height: 30%;
	width: 23.4%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.peque1, .peque2, .peque3, .peque4{
	height: 100%;
	width: 100%;
}

.peque1{
	margin-left: 2%;
	margin-top: 3%;
}

.peque2{
	margin-left: 26%;
	margin-top: -51.5%;
}

.peque3{
	margin-left: 50%;
	margin-top: -51.5%;
}

.peque4{
	margin-left: 74%;
	margin-top: -51.4%;
}

.peque:hover{
	transform : scale(2);
		-moz-transform : scale(2); /* Firefox */
		-webkit-transform : scale(1.5); /* Chrome - Safari */
		-o-transform : scale(2); /* Opera */
		-ms-transform : scale(2); /* IE9 */
}

.peque-1:hover{
	-webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -o-transform: rotate(7deg);
}

.marco1, .marco2, .marco3, .marco4, .marco5, .marco6, .marco7, .marco8, .marco9, .marco10,
.marco20, .marco21{
	width: 16.4%;
	height: 45.5%;
	border: 7px solid #f56b07;
	-moz-transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.marco1{
	margin-top: 1%;
}

.marco2{
	margin-top: -24.5%;
	margin-left: 20%;
}

.marco3, .marco4, .marco5{
	margin-top: -24.5%;
}

.marco3{
	margin-left: 40%;
}

.marco4{
	margin-left: 60%;
}

.marco5{
	margin-left: 80%;
}

.marco6{
	border: 7px solid #f56b07;
	margin-top: 2%;
	width: 22.2%;
	height: 28.1%;
}

.marco1:hover, .marco2:hover, .marco3:hover, .marco4:hover, .marco5:hover, .marco6:hover, .marco7:hover, 
.marco8:hover, .marco9:hover, .marco10:hover, .marco11:hover, .marco12:hover, .marco13:hover, .marco14:hover,
.marco15:hover, .marco16:hover, .marco17:hover, .marco18:hover, .marco19:hover, .marco20:hover, .marco21:hover{
	-moz-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

.marco7{
	margin-left: 25%;
	margin-top: -17%;
}

.marco8{
	margin-left: 44%;
	margin-top: -24.5%;
}

.marco9{
	margin-left: 63%;
	margin-top: -24.5%;
}

.marco10{
	margin-left: 82%;
	margin-top: -24.5%;
}

.marco11, .marco12, .marco13, .marco14, .marco15,.marco16, .marco17, .marco18, .marco19  {
	height: 35%;
	border: 7px solid #f56b07;
	margin-top: 2.5%;
	-moz-transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
	width: 26.5%;
}

.marco12{
	margin-top: -10.1%;
	margin-left: 34%;
}

.marco13{
	margin-top: -3.1%;
	margin-left: 68%;
}

.marco14{
	margin-left: 29%;
	margin-top: -18.8%;
}

.marco15{
	margin-left: 58%;
	margin-top: -18.8%;
}

.marco16{
	margin-left: 2%;
	margin-top: -18.8%;
}

.marco17{
	margin-left: 68%;
	margin-top: -43.5%;
}

 .marco18{
 	margin-left: 29%;
	margin-top: -19%;
 }

.marco19{
 	margin-left: 29%;
	margin-top: -15%;
 }

 .marco20{
 	margin-left: 60%;
	margin-top: -21%;
 }

 .marco21{
 	margin-left: 80%;
	margin-top: -24.4%;
 }

#imagen{
	border: 6px solid #f56b07;
	height: 96.5%;
	float: left;
	margin-left: 8%;
	width: 25%;
	-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.presentar img{
	border:0;
	padding:0;
	margin:0;
	width: 100%;
	height: 100%;
}

.presentar a {
	position: relative;
	display: inline-block;
}

.presentar a span {
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	top: 0px;
	left: 0px;
}

.presentar a:hover span {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
/*finalizacion de la sustitucion de imagen*/

a, a:hover{
	text-decoration: none;
}

.modalmask {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalmask:target {
	opacity:1;
	pointer-events: auto;
}

.modalbox{
	position: relative;
	padding: 5px 20px 13px 20px;
	border-radius:3px;
	-webkit-transition: all 500ms ease-in;
	-moz-transition: all 500ms ease-in;
	transition: all 500ms ease-in;
}

.modalbox1{
	background: url("../img/fondo.jpg");
	-webkit-transition: all 500ms ease-in;
	-moz-transition: all 500ms ease-in;
	transition: all 500ms ease-in;
}
/*botones materiales*/
#materiales{
	width: 100%;
	margin-top: 1%;
}

#materiales .t-h{
    background: #ffffff; 
    border: 6px solid #167F76;
    color: #167F76;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#t-materiales{
	width: 90%;
	border: 0;
}

#t-materiales tr td{
	border: 0;
	text-align: center;
}

.vista1 h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 1.5%;
    background: hsla(0,0%,0%,0.8);
    margin: 2% 0 0 0;
}

.vista1 h2 {
    background: hsla(0,0%,100%,0.5);
    color: hsl(0,0%,0%);
    box-shadow: 0px 1px 3px hsla(3,9%,59%,0.5);
}

.vista1 p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 13px;
    position: relative;
    color: #fff;
    padding: 1% 2% 2%;
    text-align: center;
}

.vista1 p {
    opacity: 0;
    color: #333;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.vista1 {
    width: 69%;
    margin: 1% auto;
    border: 5px solid #167F76;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}

.vista1 .mascara1 {
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.vista1 .mascara1 {
    opacity: 1;
    background-color: hsla(172, 31%, 90%, 1.0);
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px);
    -webkit-transition: all 0.4s ease-in-out; 
    -moz-transition: all 0.4s ease-in-out; 
    -o-transition: all 0.4s ease-in-out; 
    -ms-transition: all 0.4s ease-in-out; 
    transition: all 0.4s ease-in-out; 
}


.vista1:hover .mascara1 { 
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
  
.vista1:hover p {
    opacity: 1;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    -ms-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.vista1 img {
    display: block;
    position: relative;
    width: 100%;
}

.vista1 img {
    -webkit-transition: all 0.3s ease-in-out; 
    -moz-transition: all 0.3s ease-in-out; 
    -o-transition: all 0.3s ease-in-out; 
    -ms-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out; 
}

.vista1:hover img    { 
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -o-transform: translateX(300px);
    -ms-transform: translateX(300px);
    transform: translateX(300px);
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
/* materiales*/
}

.resize {
	margin: 3% auto;
	width:0;
	height:0;
}

.modalmask:target .resize{
	width:80%;
	height:85%;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 1px;
	text-align: center;
	top: 1px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius:3px;
	font-size:16px;
}

.close:hover { 
	background: #FAAC58; 
	color:#222;
}


.zoom{
	width: 100%;
	height: 100%;
}
/*imagenes que se visualisan en los tipos maquinarias*/
.a-maq{
	font-size: 12px;
	color: blue;
}
.div-maq-img{
	margin: 2% auto;
	width: 50%;
}
/**/
.p-maq-inf{
	background: #f56b07;
	border-radius: 5px;
	float: right;
	font-size: 16px;
	line-height: 22px;
	margin: 6% auto;
	padding: 1%;
	width: 45%;
}
#v-ciudades{
	padding-top: 1%;
	width: 100%;
	height: 90%;
}



/* Media Queries */
@media screen and (max-width: 910px){
	.mi-slider nav {
		max-width: 90%;
	}
	.mi-slider nav a {
		font-size: 12px;
		padding: 40px 10px 30px 14px;
		font-weight: bold;
	}
}

@media screen and (max-width: 740px){
	.mi-slider {
		height: 300px;
	}
	.mi-slider nav {
		top: 220px;
	}
}

@media screen and (max-width: 490px){ 
	.mi-slider {
		text-align: center;
		height: auto;
	}

	.mi-slider ul {
		position: relative;
		display: inline;
		bottom: auto;
		pointer-events: auto;

	}

	.mi-slider ul li {
		-webkit-animation: none !important;
		animation: none !important;
		-webkit-transform: translateX(0) !important;
		transform: translateX(0) !important;
		padding: 10px 3px;
		min-width: 140px;
	}

	.mi-slider nav {
		display: none;

	}
}

/**/