/* General Demo Style */

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background: url(../img/plano3.jpg) no-repeat center center;        
	background-size:100% 100%;
	font-weight: 400;
	font-size: 15px;

}

a {
	color: #555;
	text-decoration: none;
}

.main1{
	height: 400px;
	margin:0 auto;
	width: 80%;
	border-radius: 16px; 
	margin:0 auto;
	margin-top: 8.5%;
}
.main{
	width: 80%;
	max-width: 1100px;
	margin: 7% auto;
	position: relative;
 }

.container > header {
	padding: 30px;
}

