
*{
    padding: 0%;
    margin: 0%;
}


a{
    color: #555;
    text-decoration: none;
}


.container{
    width: 100%;
    position: relative;
}

.clr{
    clear: both;
    padding: 0;
    height: 0;
    margin: 0;
}

.main{
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.container > header{
    margin: 10px;
    padding: 20px 10px 10px 10px;
    position: relative;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}


.ch-grid {
    margin: 2.5% auto;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 90%;
}

.ch-grid:after,.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 192px;
    height: 192px;
    display: inline-block;
    margin: 20px;
}

.ch-item {
    width: 120%;
    height: 120%;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    cursor: default;
}

.ch-info-wrap, .ch-info{
    position: absolute;
    width: 215px;
    height: 215px;
    border-radius: 50%;
}

.ch-info-wrap {
    top: 7px;
    left: 7px;
}
.ch-info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;
    -webkit-backface-visibility: hidden; /*Just for webkit to have a smooth font*/
}

.ch-info .ch-info-front {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-back {
    opacity: 0;
    background: #E6BC00;
    pointer-events: none;
    
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    
    -webkit-transition: all 0.4s ease-in-out 0.2s;
    -moz-transition: all 0.4s ease-in-out 0.2s;
    -o-transition: all 0.4s ease-in-out 0.2s;
    -ms-transition: all 0.4s ease-in-out 0.2s;
    transition: all 0.4s ease-in-out 0.2s;
}

.ch-img-1 { 
    background-image: url(../img/medir.jpg);
}

.ch-img-2 { 
    background-image: url(../img/acabado1.png);
}

.ch-img-3 { 
    background-image: url(../img/excavacion.png);
}

.ch-img-4 { 
    background-image: url(../img/corte.jpg);
}

.ch-img-5 { 
    background-image: url(../img/torcear.jpg);
}

.ch-img-6 { 
    background-image: url(../img/agujero.jpg);
}

.ch-img-7 { 
    background-image: url(../img/sujecion.jpg);
}
.ch-info h3 {
    color: #000;
    font-size: 20px;
    margin: 36% auto;
    font-weight: bold;
}

.ch-info p {
    color: #fff;
    padding: 10px 5px 0;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
    display: block;
    color: #e7615e;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
}

.ch-info p a:hover {
    color: #fff;
}

.ch-item:hover .ch-info-front {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
} 

.ch-item:hover .ch-info-back {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

/*pantalla emergente de los tipos de herramientas*/
.modalmask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.52);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalmask:target {
    opacity:1;
    pointer-events: auto;
}

.modalbox2{
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

.resize {
    margin: 3% auto;
    width:0;
    height:0;
}

.modalmask:target .resize{
    width:80%;
    height:85%;
}

.close {
    background: #71b230;
    border-radius:6em;
    -moz-border-radius: 6em;
    -webkit-border-radius: 6em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 3em;
    margin-left: 100%;
    text-align: center;
    width: 3em;
}

.close:hover { 
    background: #ffffff; 
    color:#222;
}

/**/

/*herramientas manuales*/

.t-h{
    background: #ffffff; 
    border: 4px solid #71b230;
    padding-top: 2.5%;
    text-align: center;
    width: 100%;
}

.img-h35{
    width: 40%;
    height: 100%;
}

.medidas-img{
font-size: 12px;
}


#imagen-zoom{
    width: 80%;
    height: 40%;
}


.manuales, .manuales2{
    cursor: default;
    border: 10px solid #71b230;
    box-shadow: 1px 1px 2px #71b230;
    float: left;
    overflow: hidden;
    text-align: center;
    margin: 1%;
}

.manuales{
    height: 25%;
    letter-spacing: -4%;
    margin-left: 1.5%;
    width: 14%;
}

.manuales2{
    height: 25%;
    margin-left: 6%;
    width: 24%;
}

.manuales img, .manuales2 img {
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.manuales img:hover, .manuales2 img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/**/




