.wrap1{
    margin: -3% 0;
    float: left;
    width: 100%;
}

.wrap1 li{
    float: left;
    margin-top: 55px;
    padding: 3%;
    width: 19%;
    
}

.botones {  
    margin: 0 auto;
    padding: 10px;        
    text-align: center;   
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    list-style:none;
}

.botones img {
    margin:auto;
    display:block; 
    -webkit-transform: scale(.9);
    -moz-transfor3: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9));
    transform: scale(.9);
    -webkit-transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -ms-transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}

.botones:hover {
    background-color:white;
    background-color: rgba(200,200,200,.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;

}

.botones:hover img {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1));
    -ms-transform: scale(1);
    transform: scale(1);

}                             

h3{
    font-size: 16px;
}

.botones:hover h3 {
    color:#c9a833; 
}
/*finalizacion del menu principal*/