 --- reset de ls sstilos de los navegadores ---*/
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
 }
 /* --- Fin de reset de los sstilos de los navegadores ---*/
 ::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
    background-color: #CCCCCC;
 }

 ::-webkit-scrollbar{
    width: 12px;
    background-color: #ffffff;
 }

 ::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #f56b07;
 }

 body.contenedor-general{
    background: url("../img/logo.png")  center center;
    font-family: Century Gothic;
 }

 header, nav, section, article, footer, figcaption {
    display: block;
 }

 a{
    text-decoration: none;
    color: #000;
 }

 b{
    font-weight: bold;
 }

 h1{
    font-size: 20px;
    font-weight: bold;
    margin-top: -2px;
 }

 h5{
    color: #f56b07;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
 }

 p{
    font-size: 12px;
    text-align: center;
 }

 p#contenido{
    font-size: 14pt;
    text-align: justify;
 }

 p#items{
    font-size: 15px;
 }

 p#pulsar{
    font-size: 16px;
    text-align: left;
 }

 figcaption{
    font-weight: bold;
    margin-top:-50px;
    font-size: 13px;
    position:absolute; 
    text-align: center;  
    visibility:visible; z-index:2;
 }

 /* header */
 #home,#ico-home, #atras1, #logout,h4#usuario{  
    position:absolute;
    visibility:visible; z-index:2;
    margin-top:1%;
 }

 #atras{
    margin-top: 2.2%;
    margin-left: 15%;
    width: 32%;
 }

 #atras1{
    width:3%; 
 }

 #atras1{
    margin-left: 2%;
 } 


 #home{
    margin-left: 1%;
    width:9.5%; 
 }

 #ico-home{
    margin-left: 50%;
    width:35%; 
 }

 #ico-home:hover, #atras:hover, #atras1:hover{
    opacity: .5;
 }

 #logout{
    margin-top:2.4%;
    margin-left: 26%;
 }

 #logout a{
    color: #fff;
 }
 #logout a:hover{
    color: #000;
 }

 #user{
    margin-top: 4%;
    width: 90%;
 }

 h4#usuario{
    color: #fff;
    cursor: default;
    margin-left: 12%;
    margin-top:2.4%;
    text-transform: uppercase; /*MAYUSCULA */
    letter-spacing: 1; /*espacio en letras*/

 }

 header img{
    width: 100%;
 }
 /**/

 footer img{
    width: 100%;
 }
 .cimentacion{
    height: 410px;
    margin:0 auto;
    width: 80%;
 }

 .cimentacion, #contenedor3{
    background: rgb(247,247,247); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(247,247,247,1) 46%, rgba(153,153,153,1) 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(46%,rgba(247,247,247,1)), color-stop(97%,rgba(153,153,153,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 46%,rgba(153,153,153,1) 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(247,247,247,1) 46%,rgba(153,153,153,1) 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(247,247,247,1) 46%,rgba(153,153,153,1) 97%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(247,247,247,1) 46%,rgba(153,153,153,1) 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#999999',GradientType=0 ); /* IE6-9 */
    border-radius: 16px; 
    margin:0 auto;
    padding: 3%;
 }

 #acvidades{
    height: 410px;
    margin:0 auto;
    margin-top: 2%; 
    padding: 3%;
    width: 90%;
 }

 #contenedor1{
    width: 20%;
    float: right;
    margin-top: -1.8%;
    padding: 1%;
    height: 100%;
 }

 #contenedor2{
    float: right;
    margin-top: -1%;
    width: 75%;
 }

 #contenedor3{
    float: right;
    margin-top: -0.6%;
    width: 27%;
    height: 412px;
    padding: 10px;
 }

 #contenedor1{
    float: left;
 }

 #der{
    float: left;
    width: 47%;
    margin-top: 20px; 
 }

 #sola{
    margin: 0 auto;
    padding: 5%;
    width: 80%;
 }

 #res{
    margin-top: -3%;
 }
 /*estilo de los iconos de las cuidades*/
 #contenedor-imagenes{
    margin: 1% 4% ;
    width:85%;
 }

 .imagenes > img{
    width: 80%;
    height: 80%;
 }

 .fondo, .fondo1{
    background: #71B230;
    box-shadow: black 0.3em 0.3em 0.3em;
    height: 35%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    width: 25%;
 }

 .fondo1{
    margin-top: -39%;
    margin-left: 27%;
 }

 .fondo:hover, .fondo1:hover{
    opacity: 0.25;
 }

 /**/

 #info{
    width: 57%;
    height: 100%;
 }
 /* preliminares */
 .preliminares{
    height: 413px;
    margin:0 auto;
    width: 80%;
    border-radius: 16px; 
    margin-top: 2%; 
    padding: 3%;
 }

 #info2{
    background: #ffffff;
    border-radius: 16px;
    margin-top: -2%; 
    opacity: 0.8;
    padding: 1% 1%;
    width: 100%; 
 }

 #info2-img{
    margin-left: 5%;
    width: 100%;
 }

 #info3-img{
    margin-left: 13%;
    width: 100%;
 }

 .clasificacion { 
    border: 1px solid #167f76;
    height: 40%;
    float: left;
    overflow: hidden; 
    width: 17%;
    margin-left: 1%;
    margin-top: 1%;
 }

 .clasificacion:hover{
    -moz-box-shadow: 0px 0px 30px #167f76; 
    -webkit-box-shadow: 0px 0px 30px #167f76; 
    box-shadow: 0px 0px 30px #167f76;        
    width: 160px;
    cursor: default;
    height: 40%;
    float: left;
    overflow: hidden; 
    width: 17%;
    margin-left: 1%;
    margin-top: 1%;
    cursor: pointer;
 }
 .clasificacion img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
 } 

 .clasificacion img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
 }

 .clasificacion:hover img { 
    opacity: .8;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

 }

 /*finalización de preliminares*/
 #ins{
    height: 50px;
    margin-top: -20%;
    float: right;
    text-align: center;
    width: 20%;
 }

 #izq{
    float: right;
    margin-top: 20px;
    padding: 0.5%;
    width: 47%;
 }

 video{
    margin: 0 auto;
    width: 62%;

 }

 #video-p{
    width: 100%;
    height: 100%;
    text-align: center;
 }

 #f-materiales img{
    width: 100%;
 }


 /*estilo de boton de Envio */
 #respuestas{
    margin-left: -8%;
    margin-top: -1%;
    width: 6%;
 }

 #respuestas2{
    margin-left: 47%;
    margin-top: 33.5%;
    width: 6%;
 }

 #siguiente{
    margin-left: 15%;
    width: 83%;
 }

 button.resolver, .enviar{
    background-image: -webkit-gradient(linear, 0%, 0%, 0%, 100%, form(#fff), to(#bbb));
    background-image: -moz-linear-gradient(0%, 100% 90deg, #bbbbbb, #ffffff));
 background-color: #fff;
 border:none;
 border: 1px solid #f1f1f1;
 border-radius: 10px;
 box-shadow: 0 1px 2px rgba(0,0,0,0.5);    
 color: #444;
 font-family: Century Gothic;    
 font-weight: bold;
 line-height: 1;
 padding: 9px 17px;
 text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
}

button.resolver:hover, .enviar:hover{
    opacity: .70;
    cursor: pointer;
    color: black;
}

button.resolver:active, .enviar:active{
    border: 1px solid #222;
    box-shadow: 0 0 10px 5px #444 inset;
}

.enviar{
    width:5%;
}
ol{
    padding-left: 18px;
}

ol >li{
    text-align: justify;
}

#cuestionario{
    height: 100%;
}
/*finalizacion de boton de Envio */

/*scroll de texto de cuestionario */
.scroll{
    padding: 6px;
    height: 100%;
    overflow: scroll;
    width: 100%;
}
/* finalizacion scroll de texto de cuestionario */


/*inicio menu principal*/
.botones h3{
    font-size: 13px;
    text-align: center;
    font-weight: normal; 
}

.botones:hover h2 {
    color:#c9a833; 
}

.botones:hover h3 {
    font-weight: bold; 
}

.wrap1-contenedor, .wrap2-contenedor{
    width:95%;
}

.wrap1-contenedor{
    margin: 3% auto;
}

.wrap2-contenedor{
    margin: 3% auto;
    width: 50%;
}


.wrap1, .wrap3{
    margin-top: -1%;
    float: left;
    width: 100%;
}

.wrap1 li{
    float: left;
    margin:1% auto;
    padding-top: 2%;
    width: 19%;
}
.wrap3 li{
    float: left;
    margin:1% auto;
    padding-top: 2%;
    width: 33%;
}

.botones {  
    margin: 0 auto;
    text-align: center;   
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    list-style:none;
}

.botones img {
    margin:auto;
    display:block; 
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9));
    transform: scale(.9);
    -webkit-transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -ms-transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}

.botones:hover {
    cursor: pointer;
}

.botones:hover img {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1));
    -ms-transform: scale(1);
    transform: scale(1);
}                             
/*finalizacion del menu principal*/

/*animacion de botones de los procesos de construccion*/
.contenedor{
    height: 390px;
    margin:5% auto;
    width: 90%;
}

.wrap2{
    margin-top: -1%;
    float: left;
    width: 100%;
}

.ex1 img{
    float: left;
    margin: 1.3%;
    width: 14%;
    background-color: #fff;
    line-height: 60px;
    text-align: center;
    transition: 1s ease-in-out;
}

.ex1 img:hover { 
    transform: translate(2em,0);
}
/*fin de la animacion de botones de los procesos de construccion*/
.modalmask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../img/fondo.jpg");
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalmask:target {
    opacity:1;
    pointer-events: auto;
}

.modalbox1{
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

.resize {
    margin: 3% auto;
    width:0;
    height:0;
}

.modalmask:target .resize{
    width:80%;
    height:85%;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
    font-size:16px;
}

.close:hover { 
    background: #FAAC58; 
    color:#222;
}

/*inicio tabla de listado*/
#listado2{
    margin: 2% auto;
    width: 75%; 
    background: #fff;
}

#organizacion{
    padding-left: 1%;
    text-transform: uppercase;
}

#listado2, td{
    border: 1px solid #167f76;
}


.th1, .th2, .th3, .th4{
    color: #fff;
    font-weight: bold;
    padding: 0.5%;
    text-align: center;
    text-transform: uppercase;
}


.th1{
    background: #f56b07;
    padding: 1%;
}

.th1, .th3{
    font-size: 26px;
}

.th3{
    background: #167f76;
}

.th2, .th4{
    color: #000;
    font-size: 16px;
}

.th2{
    background: #FAAC58;
}

.th4{
    background: #3aa093;
}
/*finalizacion de la tabla de listado*/

/*inicio de pestañas*/

#contenidopestanas {
    background-color: rgba(255,255,255,0.9);
    border: 1px dashed #000;
    clear: both;
    margin: 2.8% auto;
    padding: 1%;
    width: 75%;
}

p.info3{
    color:#71B230;
    line-height: 20px;
    text-align: justify;
    border-radius: 12px;
    padding: 1%;
    margin: 0 auto;
    border: 1px solid #000;
}

p.info3{
    font-size: 20px;
    width: 85%; 
}

.r-info{
    text-align: justify;
    padding: 1%;
    width: 70%;
    margin: 0 auto;
    color:#71B230;
}

#obs, #obs2{
    border: 1px dashed #000;
    border-radius: 5px;
    color: #72b230;
    font-size: 12px;
    margin: 0 auto;    
    padding: 0.5%;
    text-align: justify;
}

#obs{
    width: 70%;
}

#obs2{
    width: 90%;
}

#pestanas {
    float: top;
    font-size: 2.5ex;
    font-weight: bold;
    margin-left: 18%;
    margin-top: 1%;
}

#cpestana1 {
    margin: 2% auto;
}

#cpestana1 h1{
    color:#71B230;
    font-size: 28px;
    letter-spacing: 3px;
    text-align: center;
}

#pestanas ul {
    margin-left: -40px;
}

#pestanas li {
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: #ffffff;
    padding: 0px 20px 0px 20px;
    border: 1px dashed #000;
}

#pestanas a:link {
    text-decoration: none;
    color: #71B230;
}

#pestanas a:hover {
    text-decoration: none;
    color: #000;
}

#pestanas a:visited {
    text-decoration: none;
    color: red;
}
/*banner */
.banner {
    width: 32%;
}
/**/

/*finalizacion de pestañas*/



/*botones materiales*/
#materiales{
    width: 100%;
    margin-top: 9%;
}

#materiales .t-h{
    background: #ffffff; 
    border: 6px solid #167F76;
    color: #167F76;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#t-materiales{
    width: 90%;
    border: 0;
}

#t-materiales tr td{
    border: 0;
    text-align: center;
}

.vista1 h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 1.5%;
    background: hsla(0,0%,0%,0.8);
    margin: 6% 0 0 0;
}

.vista1 h2 {
    background: hsla(0,0%,100%,0.5);
    color: hsl(0,0%,0%);
    box-shadow: 0px 1px 3px hsla(3,9%,59%,0.5);
}

.vista1 p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 13px;
    position: relative;
    color: #fff;
    padding: 1% 2% 2%;
    text-align: center;
}

.vista1 p {
    opacity: 0;
    color: #333;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.vista1 {
    width: 63%;
    height: 100%;
    margin: 1% auto;
    border: 5px solid #167F76;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}

.vista1 .mascara1 {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.vista1 .mascara1 {
    opacity: 1;
    background-color: hsla(172, 31%, 90%, 1.0);
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px);
    -webkit-transition: all 0.4s ease-in-out; 
    -moz-transition: all 0.4s ease-in-out; 
    -o-transition: all 0.4s ease-in-out; 
    -ms-transition: all 0.4s ease-in-out; 
    transition: all 0.4s ease-in-out; 
}


.vista1:hover .mascara1 { 
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

.vista1:hover p {
    opacity: 1;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    -ms-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.vista1 img {
    display: block;
    position: relative;
    width: 100%;
}

.vista1 img {
    -webkit-transition: all 0.3s ease-in-out; 
    -moz-transition: all 0.3s ease-in-out; 
    -o-transition: all 0.3s ease-in-out; 
    -ms-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out; 
}

.vista1:hover img    { 
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -o-transform: translateX(300px);
    -ms-transform: translateX(300px);
    transform: translateX(300px);
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
/* materiales*/

/* Media Queries */
@media screen and (max-width: 910px){
    .mi-slider nav {
        max-width: 90%;
    }
    .mi-slider nav a {
        font-size: 12px;
        padding: 40px 10px 30px 14px;
        font-weight: bold;
    }
}

@media screen and (max-width: 740px){
    .mi-slider {
        height: 300px;
    }
    .mi-slider nav {
        top: 220px;
    }
}

@media screen and (max-width: 490px){ 
    .mi-slider {
        text-align: center;
        height: auto;
    }

    .mi-slider ul {
        position: relative;
        display: inline;
        bottom: auto;
        pointer-events: auto;
    }

    .mi-slider ul li {
        -webkit-animation: none !important;
        animation: none !important;
        -webkit-transform: translateX(0) !important;
        transform: translateX(0) !important;
        padding: 10px 3px;
        min-width: 140px;
    }

    .mi-slider nav {
        display: none;
    }
}

/**/

/*animación introducción*/
*{
    margin: 0%;
    padding: 0%;
}

#divContenedor{
    background: blue;
    width: 70%;
    margin-top:3%;
    margin-left:4%;
}

.clsImagen  img{
    float: left;
    margin:1% auto;
    width: 16%;
    padding-left: 1%;
    transition: all .2s ease-in-out; 
}

.clsImagen img:hover{
    transform: scale(1.9); 
}

.clsImagen:hover .clsContenedor{
    width: 490px;
}
.clsContenedor{
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    position: fixed;
    background: #71b230;
    right: 0;
    top: 13%;
    width: 0;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px #000;
    color: #fff;
}

.h2-maq {
    font-weight: bold;
    text-transform: uppercase;

}
.h2-maq, .clsContenido{
    margin: 20px;
    width: 460px;
}
.clsContenido .p-inf{
    font-size: 14px;
    text-align: justify;
}

/**/
#logo2{
    margin-left: 5%;
    margin-top: 1%;
    width: 170px;
}

#principal{
    width: 100%;
    height: 65px;
    background: #71B230;
}
#primero, #segundo, #tercero{
    width: 100%;
    height: 80%;
}

#primero{
    margin-top:0%;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 41%, #bfbfbf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(41%,#e5e5e5), color-stop(100%,#bfbfbf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 41%,#bfbfbf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 41%,#bfbfbf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 41%,#bfbfbf 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 41%,#bfbfbf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfbfbf',GradientType=0 ); /* IE6-9 */
}

#segundo{
    background: blue;
}

#tercero{
    background: green;
}
/**/

/*equipos*/
.ani1, .ani2{
    height: 100%;
    width: 50%;
}

.ani1 {
    float: left;
}

.div-img{
    margin: 6%;
    width: 80%;
}
.ani2{
    float: right;
}

/*informacion d elos equipos*/
.inf-q1, .inf-q2, .inf-q3, .inf-q4{
    width: 50%;
    height: 50%;
    color: #fff;
}
.p-eq{
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.98) 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(49%,rgba(255,255,255,0.98)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.98) 49%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.98) 49%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.98) 49%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.98) 49%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    font-weight: bold;
    letter-spacing:2px; /*espacio entre letras*/
    padding: 1%;
    text-transform: uppercase;
}
.h2-eq{
    padding: 3%;
    text-align: center;
    text-transform: uppercase;
}

.inf-eq, .li-eq{
    font-size: 100%;
    line-height:19px;
    padding: 0 5%;
    text-align: justify;
}

.inf-q4 #ol-eq{
    margin-left: 20px;
}
.inf-q1{
    background: #efa26f;
    float: left;
}

.inf-q1:hover{
    background: #f56b07;
}

.inf-q2{
    background: #5accbe;
    float: right;
}

.inf-q2:hover{
    background: #167f76;
}

.inf-q3{
    background: #9BBF71;
    float: right;
}

.inf-q3:hover{
    background: #71B230;
}

.inf-q4{
    background: #AFAFAE;
    float: left;
}

.inf-q4:hover{
    background: #000;
    color: #fff;
}

/**/
/*galeria equipos*/
#slider-container {
    height: 20%;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    width: 80%;
}

#slider-arrows {
    margin: -10% auto 0 auto;
    width: 80%;
}

#slider-box {
    -moz-animation: autoSlider 10s infinite linear;
    -o-animation: autoSlider 10s infinite linear;
    -webkit-animation: autoSlider 10s infinite linear;
    animation: autoSlider 10s infinite linear;

    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;

    height: 100%;
    width: 300%;
}

#slider-container {
    height: 80%;
    margin: 5%;
    overflow: hidden;
    text-align: left;
    width: 80%;
}

.element1,.element2,.element-3 {
    min-height: 400px;
    max-height: 100%;
    width: 100%;
}

.slider-element {
    float: left;
    width: 33.333%;
}

@-moz-keyframes autoSlider {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes autoSlider {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes autoSlider {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

.div-division{
    width: 100%;
    height: 20px;
    background: blue;
}

/*fin galeria equipos*/

#guardado{
  background-color:#FAAC58;
  border-radius: 8px; 
  color:white;
  margin:1% auto; 
  padding:12px; 
  text-align: center;
}